# Ignore node_modules folder (all dependencies)
node_modules/

# Ignore VSCode workspace settings
.vscode/

# Ignore system files (macOS and Windows)
.DS_Store
Thumbs.db

# Ignore npm logs (optional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files (if any, you might add later)
.env

# Ignore firebase config files if you want to keep them local (optional)
firebase.json
.firebaserc
